button{
    outline: 0;
    border: 0;
    width: 100px;
    height: 50px;
    background-color: rgb(17, 94, 182);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

span, #timer{
    font-size: 200px;
}